doctype
html
    head
        //meta tags are declared 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Another express server
        link(rel="stylesheet" href="./css/main.css" )

    body
        video#myVideo(autoplay muted loop)
            source(src="./videos/back.mp4" type="video/mp4")
        .content
            h1 Welcome to my site
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, officia doloremque itaque quae commodi rerum. Quasi expedita vel eum voluptas sint dolorem aliquam id, ullam placeat totam cupiditate, consequatur quis!